.container{
    margin-top: 10px;
    display: flex;
    gap: 25%;
    h1{
        font-size: 25px;
        font-weight: bold;
    }
    .back{
        font-size: 20px;
        cursor: pointer;
        margin-left: 20px;
    }
}

.cart-page {
  max-width: 400px;
  
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cart-items {
  flex: 1;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  
  margin-bottom: 12px;
}

.cart-item-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.cart-item-details .description {
  font-size: 12px;
  color: #777;
}

.cart-item-details .price {
  font-size: 14px;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 6px;
  .decrease,.increase{
    background-color: grey;
  }
}

.quantity-controls button {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 50%;
  
  cursor: pointer;
}

.order-summary {
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-top: 16px;
}

.order-summary h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 4px 0;
}


.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
}

.cart-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.continue-btn {
  background: green;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.checkout-btn {
  background: #f97316;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}


.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #121212;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem 0;
  border-top: 1px solid #222;
  z-index: 1000;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s;

    svg {
      font-size: 1.4rem;
      margin-bottom: 2px;
    }

    &.active {
      color: #14f195;
    }

    &:hover {
      color: #14f195;
    }
  }
}
