.container{
    margin-top: 10px;
    display: flex;
    gap: 25%;
    h1{
        font-size: 25px;
        font-weight: bold;
    }
    .back{
        font-size: 20px;
        cursor: pointer;
        margin-left: 20px;
    }
}