.cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: #14F195; 
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
}
.type{
    margin-top: -20px;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}


